<div class="container">
  <div class="row">
    <form class="col s4 z-depth-1 center" action="/links/add" method="POST">
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <input id="title" name="title" type="text" class="validate" />
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <input id="link" name="link" type="text" class="validate" />
          <label for="link">Link</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <textarea
            id="textarea1"
            name="description"
            class="materialize-textarea"
          ></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <select name="cargo">
            <option value="" disabled selected>Choose your option</option>
            {{#each cargos}}
              <option value="{{this.idcargo}}">{{this.nombreCargo}}</option>
            {{/each}}
          </select>
          <label>Elegir Cargo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <select name="restaurante">
            <option value="" disabled selected>Choose your option</option>
            {{#each restaurantes}}
              <option value="{{this.idrestaurante}}">{{this.nombreRestaurante}}</option>
            {{/each}}
          </select>
          <label>Elegir Restaurante</label>
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-light btn" type="submit">
          <i class="material-icons right">send</i>Add
        </button>
      </div>
    </form>
  </div>
</div>